<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="userService" class="demo.spring3.rmi.service.impl.UserServiceImpl">

	</bean>
	
	<bean id="userRmiServiceServer" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service" ref="userService" />
		<property name="serviceName" value="UserService" />
		<property name="serviceInterface" value="demo.spring3.rmi.service.UserService" />
		<property name="registryPort" value="2013" />
	</bean>

</beans>
