<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>demo.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogServlet</servlet-name>
		<servlet-class>demo.LogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>demo.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DebugServlet</servlet-name>
		<servlet-class>demo.DebugServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedirectServlet</servlet-name>
		<servlet-class>servlet.RedirectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>demo.PostServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogServlet</servlet-name>
		<url-pattern>/LogServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/ImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DebugServlet</servlet-name>
		<url-pattern>/DebugServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>/AppRedirect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/PostServlet</url-pattern>
	</servlet-mapping>
	

</web-app>
