<?xml version="1.0" encoding="utf-8"?>
<Package>
	<OPFlag>0204</OPFlag>
	<ProductID>35539001</ProductID>
	<BizID>23452</BizID>
	<AreaCode>571</AreaCode>
	<CustID>gaode3348</CustID>
	<CustName>高德3348</CustName>
	<UserID>13355556666@gaode3348</UserID>
	<AccType>3</AccType>
	<AccName>13355556666</AccName>
	<ProductInfo>
		<Product>
			<ProductInstID></ProductInstID>
			<ProductType>35839001008000000</ProductType>
			<ProductValue>1</ProductValue>
			<ParentType></ParentType>
			<ProductParentInstID></ProductParentInstID>
		</Product>
		<Product>
			<ProductInstID></ProductInstID>
			<ProductType>35839001007000000</ProductType>
			<ProductValue>1</ProductValue>
			<ParentType></ParentType>
			<ProductParentInstID></ProductParentInstID>
		</Product>
	</ProductInfo>
	<ReturnStatus>00000</ReturnStatus>
</Package>
