<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory >
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">create</property> <!-- 自动建表 -->
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>	
		<property name="hibernate.connection.url">jdbc:mysql:///test</property>	
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>		
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		
		<mapping resource="com/hibernate/domain/Person.hbm.xml"/>
		<mapping resource="com/hibernate/domain/IdCard.hbm.xml"/>
		
	</session-factory>
	
</hibernate-configuration>