<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<context:property-placeholder location="classpath:jdbc.properties" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		<property name="initialSize" value="${initialSize}" />
		<property name="maxActive" value="${maxActive}" />
		<property name="maxIdle" value="${maxIdle}" />
		<property name="minIdle" value="${minIdle}" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:mybatis/dao/mapper/**/*.xml" />
	</bean>
	
	
	<!-- ================================= 事务控制相关   ================================= -->  
	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">     
        <property name="dataSource" ref="dataSource"></property>  
    </bean>     
    <aop:config>
	  	<aop:pointcut id="transactionPointcut" expression="execution(* mybatis.dao..*.*(..))"/>
	  	<aop:advisor advice-ref="txAdvice" pointcut-ref="transactionPointcut"/>
	</aop:config>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">  
        <tx:attributes>  
        	<tx:method name="insert*" propagation="REQUIRED" read-only="false"   
                       rollback-for="java.lang.RuntimeException" /> 
            <tx:method name="add*" propagation="REQUIRED" read-only="false"   
                       rollback-for="java.lang.RuntimeException" />
            <tx:method name="save*" propagation="REQUIRED" read-only="false"   
                       rollback-for="java.lang.RuntimeException" />
                       
            <tx:method name="update*" propagation="REQUIRED" read-only="false"   
                       rollback-for="java.lang.Exception" />  
	
			<tx:method name="del*" propagation="REQUIRED" read-only="false"   
                       rollback-for="java.lang.Exception" no-rollback-for="java.lang.RuntimeException"/>
            <tx:method name="remove*" propagation="REQUIRED" read-only="false"   
                       rollback-for="java.lang.Exception" no-rollback-for="java.lang.RuntimeException"/>
              
            <tx:method name="find*" propagation="SUPPORTS"/>  
            <tx:method name="get*" propagation="SUPPORTS"/>  
            <tx:method name="select*" propagation="SUPPORTS"/>  
        </tx:attributes>
    </tx:advice> 


	<import resource="applicationContext-dao.xml"/>   


</beans>