* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HTML {
	HEIGHT: 100%; FONT-SIZE: 12px
}
BODY {
	HEIGHT: 100%; FONT-SIZE: 12px
}
H1 {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
H2 {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
H4 {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
H5 {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
H6 {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
EM {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
OL {
	LIST-STYLE: none none outside
}
UL {
	LIST-STYLE: none none outside
}
UL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #005197
}
A:visited {
	COLOR: #005197
}
A:hover {
	COLOR: #cc0000
}
A:active {
	COLOR: #cc0000
}
.BR {
	LINE-HEIGHT: 0px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px
}
.BR_3 {
	LINE-HEIGHT: 3px; HEIGHT: 3px; CLEAR: both; FONT-SIZE: 0px
}
.BR_8 {
	LINE-HEIGHT: 8px; HEIGHT: 8px; CLEAR: both; FONT-SIZE: 0px
}
.BR_10 {
	LINE-HEIGHT: 10px; HEIGHT: 10px; CLEAR: both; FONT-SIZE: 0px
}
.BR_20 {
	LINE-HEIGHT: 20px; HEIGHT: 20px; CLEAR: both; FONT-SIZE: 0px
}
.BR_line {
	BORDER-BOTTOM: #dbdbdb 1px solid; LINE-HEIGHT: 0px; MARGIN: 0px 0px 9px; HEIGHT: 1px; CLEAR: both; FONT-SIZE: 0px
}
.BR_line_pro {
	BORDER-BOTTOM: #ffffff 1px solid; LINE-HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; BORDER-TOP: #aaaaaa 1px solid
}
.LR {
	TEXT-ALIGN: center; WIDTH: 8px; FLOAT: left; HEIGHT: 1em
}
.banner {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 958px; MARGIN-BOTTOM: 10px; HEIGHT: 90px; MARGIN-LEFT: auto; BORDER-TOP: #d3d3d3 1px solid; MARGIN-RIGHT: auto; BORDER-RIGHT: #d3d3d3 1px solid
}
.banner_l {
	WIDTH: 760px; FLOAT: left; HEIGHT: 90px; BORDER-RIGHT: #d3d3d3 1px solid
}
.banner_r {
	LINE-HEIGHT: 20px; WIDTH: 190px; FLOAT: right; COLOR: #696969; PADDING-TOP: 6px
}
.banner_r A {
	COLOR: #696969; TEXT-DECORATION: none
}
.banner_r A.lcnew {
	TEXT-DECORATION: none
}
.banner_r A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#subNav {
	BORDER-BOTTOM: #b7b7b7 1px solid; BORDER-LEFT: #b7b7b7 1px solid; MARGIN: 0px auto; WIDTH: 958px; HEIGHT: 33px; BORDER-TOP: #b7b7b7 1px solid; BORDER-RIGHT: #b7b7b7 1px solid
}
#subNav .subNav_logo {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; WIDTH: 100px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 24px; PADDING-TOP: 3px
}
#subNav .subNav_l {
	WIDTH: 630px; FLOAT: left; PADDING-TOP: 12px
}
#subNav .subNav_l A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#subNav .subNav_l A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#subNav .search {
	WIDTH: 211px; FLOAT: right; HEIGHT: 23px; PADDING-TOP: 5px
}
#subNav .search DL {
	WIDTH: 206px; HEIGHT: 24px
}
#subNav .search DT {
	WIDTH: 156px; FLOAT: left; HEIGHT: 24px
}
#subNav .search DD {
	WIDTH: 50px; FLOAT: left; HEIGHT: 24px
}
#container {
	MARGIN: 0px auto; WIDTH: 960px
}
#container #left {
	WIDTH: 640px; FLOAT: left
}
#container #left .title {
	BORDER-BOTTOM: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; BORDER-TOP: #dbdbdb 1px solid; BORDER-RIGHT: #dbdbdb 1px solid
}
#container #left .title .breadcrumb {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #f2f2f2; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; HEIGHT: 21px; COLOR: #464646; PADDING-TOP: 10px
}
#container #left .title .breadcrumb A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #005197; TEXT-DECORATION: underline; PADDING-TOP: 0px
}
#container #left .title .breadcrumb A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .title .con {
	TEXT-ALIGN: center; PADDING-BOTTOM: 6px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; HEIGHT: 74px; PADDING-TOP: 6px
}
#container #left .title .con H2 {
	BORDER-BOTTOM: #dbdbdb 1px solid; LINE-HEIGHT: 42px; FONT-FAMILY: "ºÚÌå"; FONT-SIZE: 20px; PADDING-TOP: 6px
}
#container #left .title .con H1 {
	BORDER-BOTTOM: #dbdbdb 1px solid; LINE-HEIGHT: 42px; FONT-FAMILY: "ºÚÌå"; FONT-SIZE: 20px; PADDING-TOP: 6px
}
#container #left .title .con .msg {
	COLOR: #464646; PADDING-TOP: 7px
}
#container #left .title .con .msg SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#container #left .title .con .msg A {
	COLOR: #f00; TEXT-DECORATION: none
}
#container #left .title .con .msg A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container {
	BORDER-BOTTOM: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; BORDER-TOP: #dbdbdb 1px solid; BORDER-RIGHT: #dbdbdb 1px solid; PADDING-TOP: 14px
}
#container #left .container .sum {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; PADDING-TOP: 0px
}
#container #left .container .summary {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 16px; WIDTH: 554px; PADDING-RIGHT: 16px; COLOR: #005197; FONT-SIZE: 14px; PADDING-TOP: 8px
}
#container #left .container .summary {
	BORDER-BOTTOM: #dde6f1 1px dashed; BORDER-LEFT: #dde6f1 1px dashed; PADDING-BOTTOM: 4px; LINE-HEIGHT: 24px; BACKGROUND-COLOR: #fefde8; PADDING-LEFT: 16px; WIDTH: 554px; PADDING-RIGHT: 16px; COLOR: #005197; FONT-SIZE: 14px; BORDER-TOP: #dde6f1 1px dashed; BORDER-RIGHT: #dde6f1 1px dashed; PADDING-TOP: 8px
}
#container #left .container .con {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; FONT-SIZE: 14px; PADDING-TOP: 10px
}
#container #left .container .con EM {
	FONT-STYLE: oblique
}
#container #left .container .con P {
	TEXT-INDENT: 28px
}
#container #left .container .tuij {
	BORDER-BOTTOM: #e06666 1px solid; BORDER-LEFT: #e06666 1px solid; PADDING-BOTTOM: 0px; MARGIN: 8px 16px 0px 0px; PADDING-LEFT: 8px; WIDTH: 153px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/tuij_bg.gif) no-repeat 50% top; FLOAT: left; BORDER-TOP: #e06666 1px solid; BORDER-RIGHT: #e06666 1px solid; PADDING-TOP: 36px
}
#container #left .container .tuij A {
	COLOR: #464646; TEXT-DECORATION: none
}
#container #left .container .tuij A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .tuij LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 18px; LIST-STYLE-TYPE: none; PADDING-LEFT: 10px; PADDING-RIGHT: 8px; BACKGROUND: url(../images/dian_12_1.gif) no-repeat left top; FONT-SIZE: 12px; PADDING-TOP: 4px
}
#container #left .container .tuij UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#container #left .container .biant {
	BORDER-BOTTOM: #bdd5e9 1px solid; BORDER-LEFT: #bdd5e9 1px solid; MARGIN: 10px auto; WIDTH: 590px; BACKGROUND: url(../images/biant_bg.gif) no-repeat 50% top; BORDER-TOP: #bdd5e9 1px solid; BORDER-RIGHT: #bdd5e9 1px solid
}
#container #left .container .biant .tit {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; HEIGHT: 20px; PADDING-TOP: 8px
}
#container #left .container .biant .tit H3 {
	COLOR: #005197; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#container #left .container .biant .con {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; HEIGHT: 130px; PADDING-TOP: 14px
}
#container #left .container .biant .con .le {
	WIDTH: 276px; FLOAT: left; HEIGHT: 120px; BORDER-RIGHT: #a2a2a2 1px dashed
}
#container #left .container .biant .con .le H4 {
	HEIGHT: 24px; COLOR: #005197; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#container #left .container .biant .con .le H4 A {
	COLOR: #005197; TEXT-DECORATION: none
}
#container #left .container .biant .con .le H4 A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .biant .con .le DL {
	WIDTH: 260px; FONT-SIZE: 12px
}
#container #left .container .biant .con .le DT {
	WIDTH: 100px; FLOAT: left; HEIGHT: 80px
}
#container #left .container .biant .con .le DD {
	LINE-HEIGHT: 20px; WIDTH: 150px; FLOAT: right; COLOR: #464646
}
#container #left .container .biant .con .ri {
	LINE-HEIGHT: 24px; PADDING-LEFT: 18px; WIDTH: 255px; FLOAT: left; FONT-SIZE: 12px
}
#container #left .container .biant .con .ri A {
	COLOR: #005197; TEXT-DECORATION: underline
}
#container #left .container .biant .con .ri A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .biant .con .ri LI {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/dian_12_3.gif) no-repeat left top
}
#container #left .container .status {
	TEXT-ALIGN: center; PADDING-BOTTOM: 24px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 24px; FONT-SIZE: 14px; PADDING-TOP: 24px
}
#container #left .container .status A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #396588; TEXT-DECORATION: none; PADDING-TOP: 7px
}
#container #left .container .status A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .status SPAN {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 4px
}
#container #left .container .status SPAN A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; WIDTH: 23px; PADDING-RIGHT: 8px; BACKGROUND: url(../images/status_bg.gif) no-repeat; HEIGHT: 23px; COLOR: #396588; TEXT-DECORATION: none; PADDING-TOP: 3px
}
#container #left .container .status SPAN A:hover {
	BACKGROUND: url(../images/status_bg1.gif) no-repeat; COLOR: #c00; TEXT-DECORATION: none
}
#container #left .container .status EM {
	COLOR: #396588; FONT-SIZE: 14px; PADDING-TOP: 8px
}
#container #left .container .status .sp1 A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 7px; MARGIN: 0px 4px; PADDING-LEFT: 0px; WIDTH: 23px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/status_bg1.gif) no-repeat; FLOAT: left; HEIGHT: 23px; COLOR: #396588; TEXT-DECORATION: none; PADDING-TOP: 3px
}
#container #left .container .status .sp1 A:hover {
	BACKGROUND: url(../images/status_bg1.gif) no-repeat; COLOR: #c00; TEXT-DECORATION: none
}
#container #left .container .feny {
	BORDER-BOTTOM: #bdd5e9 1px solid; BORDER-LEFT: #bdd5e9 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px 24px; PADDING-LEFT: 14px; WIDTH: 560px; PADDING-RIGHT: 14px; BORDER-TOP: #bdd5e9 1px solid; BORDER-RIGHT: #bdd5e9 1px solid; PADDING-TOP: 10px
}
#container #left .container .feny SPAN {
	COLOR: #005197; FONT-WEIGHT: bold
}
#container #left .container .feny UL {
	PADDING-TOP: 6px
}
#container #left .container .feny LI {
	LINE-HEIGHT: 20px; WIDTH: 280px; FLOAT: left; HEIGHT: 20px; COLOR: #005197
}
#container #left .container .feny A {
	COLOR: #005197; TEXT-DECORATION: none
}
#container #left .container .feny A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .feny EM {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .zhus {
	BORDER-BOTTOM: #dde6f1 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f5fafe; PADDING-LEFT: 10px; PADDING-RIGHT: 5px; HEIGHT: 18px; BORDER-TOP: #dde6f1 1px solid; PADDING-TOP: 5px
}
#container #left .container .zhus DL {
	HEIGHT: 18px
}
#container #left .container .zhus DT {
	WIDTH: 350px; FLOAT: left; HEIGHT: 18px; COLOR: #005197; FONT-WEIGHT: bold
}
#container #left .container .zhus DD {
	TEXT-ALIGN: right; WIDTH: 240px; FLOAT: right; COLOR: #c00
}
#container #left .container .zhus DD A {
	COLOR: #005197; MARGIN-LEFT: 4px; TEXT-DECORATION: underline
}
#container #left .container .zhus DD A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .lij {
	TEXT-ALIGN: center; PADDING-BOTTOM: 18px; LINE-HEIGHT: 24px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #005197; PADDING-TOP: 18px
}
#container #left .container .lij A {
	MARGIN: 0px 4px; COLOR: #005197; TEXT-DECORATION: underline
}
#container #left .container .lij A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .lij SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; PADDING-TOP: 0px
}
#container #left .review {
	BORDER-BOTTOM: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; BORDER-TOP: #dbdbdb 1px solid; BORDER-RIGHT: #dbdbdb 1px solid
}
#container #left .review .tit {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #f2f2f2; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; HEIGHT: 21px; PADDING-TOP: 9px
}
#container #left .review .tit H3 {
	FLOAT: left; COLOR: #005197; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#container #left .review .tit SPAN {
	FLOAT: right; COLOR: #005197; FONT-WEIGHT: bold
}
#container #left .review .tit SPAN A {
	COLOR: #005197; TEXT-DECORATION: none
}
#container #left .review .tit SPAN A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .review .tit EM {
	COLOR: #f00; FONT-WEIGHT: 100
}
#container #left .review .con {
	BORDER-BOTTOM: #b2b2b3 1px dashed; PADDING-BOTTOM: 4px; MARGIN: 0px 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 14px
}
#container #left .review .con DL {
	HEIGHT: 20px
}
#container #left .review .con DT {
	WIDTH: 200px; FLOAT: left; COLOR: #005197; FONT-WEIGHT: bold
}
#container #left .review .con DT A {
	COLOR: #005197; TEXT-DECORATION: underline
}
#container #left .review .con DT A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .review .con DD {
	TEXT-ALIGN: right; WIDTH: 200px; FLOAT: right; HEIGHT: 20px; COLOR: #7d7d7d
}
#container #left .review .con .bg1 {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #f7f7f7; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #7d7d7d; PADDING-TOP: 4px
}
#container #left .review .con .bg2 {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #f5fafe; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #7d7d7d; PADDING-TOP: 4px
}
#container #left .review .con1 {
	PADDING-BOTTOM: 4px; MARGIN-TOP: 12px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; BACKGROUND: url(../images/pingl_bg.gif) #f8f8f8 no-repeat left top; BORDER-TOP: #dbdbdb 1px solid; PADDING-TOP: 10px
}
#container #left .review .con1 .sp1 {
	PADDING-LEFT: 63px; HEIGHT: 20px
}
#container #left .review .con1 .sp1 EM {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 2px; PADDING-TOP: 4px
}
#container #left .review .con1 .sp2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 14px; PADDING-RIGHT: 0px; PADDING-TOP: 18px
}
#container #left .mary {
	BORDER-BOTTOM: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f8f8f8; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; COLOR: #005197; BORDER-TOP: #dbdbdb 1px solid; BORDER-RIGHT: #dbdbdb 1px solid; PADDING-TOP: 12px
}
#container #left .mary A {
	COLOR: #005197; TEXT-DECORATION: none
}
#container #left .mary A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .mary .le1 {
	WIDTH: 290px; FLOAT: left; MARGIN-RIGHT: 16px; BORDER-RIGHT: #dbdbdb 1px solid
}
#container #left .mary .le1 .tit {
	PADDING-LEFT: 12px; BACKGROUND: url(../images/ico1.gif) no-repeat; HEIGHT: 26px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#container #left .mary .le1 LI {
	LINE-HEIGHT: 23px; PADDING-LEFT: 10px; BACKGROUND: url(../images/dian_12.gif) no-repeat left top
}
#container #left .mary .le2 {
	WIDTH: 290px; FLOAT: left; HEIGHT: 150px
}
#container #left .mary .le2 .tit {
	PADDING-LEFT: 12px; BACKGROUND: url(../images/ico1.gif) no-repeat; HEIGHT: 26px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#container #left .mary .le2 LI {
	LINE-HEIGHT: 23px; PADDING-LEFT: 10px; BACKGROUND: url(../images/dian_12.gif) no-repeat left top
}
#container #right {
	BORDER-BOTTOM: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #f2f2f2; PADDING-LEFT: 5px; WIDTH: 300px; PADDING-RIGHT: 5px; FLOAT: right; BORDER-TOP: #dbdbdb 1px solid; BORDER-RIGHT: #dbdbdb 1px solid; PADDING-TOP: 5px
}
#container #right .hot {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 277px; PADDING-RIGHT: 12px; BACKGROUND: url(../images/new_bg.gif); HEIGHT: 115px; PADDING-TOP: 10px
}
#container #right .hot A {
	COLOR: #000; TEXT-DECORATION: none
}
#container #right .hot A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #right .hot .tit {
	HEIGHT: 20px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#container #right .hot .tit EM {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #b70701; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
#container #right .hot .con {
	PADDING-TOP: 8px
}
#container #right .hot .con DL {
	HEIGHT: 70px
}
#container #right .hot .con DT {
	WIDTH: 136px; FLOAT: left; HEIGHT: 70px
}
#container #right .hot .con DD {
	LINE-HEIGHT: 23px; WIDTH: 134px; FLOAT: right; HEIGHT: 70px; COLOR: #666
}
#container #right .bann {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
#container #right .top10 {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: url(../images/top10.gif) #fff no-repeat; PADDING-TOP: 44px
}
#container #right .top10 .tab {
	BACKGROUND: url(../images/tab_bg1.gif); HEIGHT: 20px; FONT-SIZE: 14px; PADDING-TOP: 8px
}
#container #right .top10 .tab A {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 31px; PADDING-RIGHT: 31px; DISPLAY: block; FLOAT: left; COLOR: #c00; TEXT-DECORATION: none; PADDING-TOP: 2px
}
#container #right .top10 .tab .myon {
	BACKGROUND: url(../images/tab_bg2.gif) no-repeat center top; COLOR: #c00; TEXT-DECORATION: none
}
#container #right .top10 .tab1 {
	BACKGROUND: url(../images/tab_bg2.gif) no-repeat center top
}
#container #right .top10 .list {
	BORDER-LEFT: #f2f2f2 1px solid; MARGIN-TOP: 1px; BACKGROUND: url(../images/dian_10.gif) no-repeat left top; BORDER-TOP: #f2f2f2 1px solid; BORDER-RIGHT: #f2f2f2 1px solid
}
#container #right .top10 .list A {
	COLOR: #005197; TEXT-DECORATION: none
}
#container #right .top10 .list A:hover {
	BACKGROUND-COLOR: #fefde8; COLOR: #c00; TEXT-DECORATION: underline
}
#container #right .top10 .list LI {
	BORDER-BOTTOM: #f2f2f2 1px solid; LINE-HEIGHT: 27px; PADDING-LEFT: 36px; WIDTH: 250px; WHITE-SPACE: nowrap; HEIGHT: 27px; OVERFLOW: hidden
}
#container #right .tag {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: url(../images/tag_bg.gif) #fff no-repeat; PADDING-TOP: 37px
}
#container #right .tag .con {
	BORDER-BOTTOM: #f2f2f2 1px solid; BORDER-LEFT: #f2f2f2 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 24px; PADDING-LEFT: 8px; PADDING-RIGHT: 12px; BORDER-TOP: #f2f2f2 1px solid; BORDER-RIGHT: #f2f2f2 1px solid; PADDING-TOP: 4px
}
#container #right .tag .con A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #005197; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#container #right .tag .con A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #right .dingy {
	BACKGROUND: url(../images/dingy_bg.gif); HEIGHT: 129px
}
#container #right .dingy A {
	COLOR: #005197; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
#container #right .dingy A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #right .redian {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: url(../images/redian_bg.gif) #fff no-repeat; PADDING-TOP: 38px
}
#container #right .redian .list {
	BORDER-LEFT: #f2f2f2 1px solid; MARGIN-TOP: 1px; BORDER-TOP: #f2f2f2 1px solid; BORDER-RIGHT: #f2f2f2 1px solid
}
#container #right .redian .list A {
	COLOR: #005197; TEXT-DECORATION: none
}
#container #right .redian .list A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #right .redian .list LI {
	BORDER-BOTTOM: #f2f2f2 1px solid; LINE-HEIGHT: 27px; PADDING-LEFT: 18px; BACKGROUND: url(../images/dian_12_2.gif) no-repeat left top; HEIGHT: 27px
}
#tanc {
	POSITION: fixed; MARGIN: 0px; WIDTH: 259px; TOP: 260px; LEFT: 260px
}
#tanc .tit {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #2f8cbe; PADDING-LEFT: 12px; PADDING-RIGHT: 6px; HEIGHT: 21px; COLOR: #fff; PADDING-TOP: 8px
}
#tanc .tit DL {
	WIDTH: 234px; HEIGHT: 20px
}
#tanc .tit DT {
	WIDTH: 210px; FLOAT: left; HEIGHT: 20px
}
#tanc .tit SPAN {
	COLOR: #fff200; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#tanc .tit DD {
	WIDTH: 15px; FLOAT: right; HEIGHT: 20px
}
#tanc .con {
	BORDER-BOTTOM: #aaa 1px solid; BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-RIGHT: #aaa 1px solid; PADDING-TOP: 8px
}
#tanc .con OL {
	BORDER-BOTTOM: #464646 1px dashed; PADDING-BOTTOM: 3px; LINE-HEIGHT: 22px; COLOR: #da1911; FONT-WEIGHT: bold
}
#tanc .con UL {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
#tanc .con UL A {
	COLOR: #222; TEXT-DECORATION: none
}
#tanc .con UL A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#tanc .con LI {
	LINE-HEIGHT: 24px; PADDING-LEFT: 14px; BACKGROUND: url(../images/dian_12_4.gif) no-repeat left top; HEIGHT: 24px
}
#tanc .con EM {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ff0; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
#foot {
	TEXT-ALIGN: center; PADDING-BOTTOM: 6px; LINE-HEIGHT: 24px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 960px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial; BORDER-TOP: #000 1px solid; PADDING-TOP: 12px
}
.new_te1 {
	BORDER-BOTTOM: #606060 1px solid; BORDER-LEFT: #606060 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 149px; HEIGHT: 21px; BORDER-TOP: #606060 1px solid; BORDER-RIGHT: #606060 1px solid
}
.new_te2 {
	BORDER-BOTTOM: #b2b2b2 1px solid; BORDER-LEFT: #b2b2b2 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 135px; HEIGHT: 19px; BORDER-TOP: #b2b2b2 1px solid; BORDER-RIGHT: #b2b2b2 1px solid
}
.new_te3 {
	BORDER-BOTTOM: #b2b2b2 1px solid; BORDER-LEFT: #b2b2b2 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 8px; WIDTH: 570px; PADDING-RIGHT: 8px; BACKGROUND: url(../images/logo_bg.gif) #fff no-repeat right top; HEIGHT: 80px; COLOR: #464646; FONT-SIZE: 14px; BORDER-TOP: #b2b2b2 1px solid; BORDER-RIGHT: #b2b2b2 1px solid; PADDING-TOP: 10px
}
.new_te4 {
	BORDER-BOTTOM: #b2b2b2 1px solid; BORDER-LEFT: #b2b2b2 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 50px; HEIGHT: 19px; BORDER-TOP: #b2b2b2 1px solid; BORDER-RIGHT: #b2b2b2 1px solid
}
.new_te5 {
	BORDER-BOTTOM: #be390a 1px solid; BORDER-LEFT: #be390a 1px solid; BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #fff; WIDTH: 130px; HEIGHT: 18px; BORDER-TOP: #be390a 1px solid
}
.wrap {
	WIDTH: 960px; MARGIN-BOTTOM: 20px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.m_l {
	BORDER-BOTTOM: #b7b7b7 1px solid; BORDER-LEFT: #b7b7b7 1px solid; WIDTH: 638px; FLOAT: left; BORDER-TOP: #b7b7b7 1px solid; BORDER-RIGHT: #b7b7b7 1px solid
}
.m_l_menu {
	BORDER-BOTTOM: #d3d3d3 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px; HEIGHT: 18px; COLOR: #525252; PADDING-TOP: 10px
}
.m_l_menu A {
	COLOR: #525252; TEXT-DECORATION: none
}
.m_l_menu A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
PRE {
	MARGIN: 0px 0px 1em; WIDTH: 99%; FONT-FAMILY: 'Courier New' , Monospace; BACKGROUND: #e6e6e6; FONT-SIZE: 12px; OVERFLOW: auto
}
PRE OL {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
PRE OL LI {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
PRE OL LI SPAN {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
PRE A {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
PRE A:hover {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
PRE OL {
	PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: decimal; MARGIN: 0px 0px 1px 3em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/010101bg.gif) repeat-y; COLOR: #5c5c5c; PADDING-TOP: 5px
}
PRE OL LI {
	LIST-STYLE-POSITION: outside !important; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.3em; LIST-STYLE-TYPE: decimal-leading-zero; MARGIN: 0px; PADDING-LEFT: 10px !important; PADDING-RIGHT: 3px !important; COLOR: #5c5c5c; PADDING-TOP: 0px !important
}
PRE OL LI.alt {
	
}
PRE OL LI SPAN {
	COLOR: black
}
PRE .comment {
	COLOR: #008200
}
PRE .comments {
	COLOR: #008200
}
PRE .string {
	COLOR: blue
}
PRE .keyword {
	COLOR: #069; FONT-WEIGHT: bold
}
PRE .preprocessor {
	COLOR: gray
}
PRE .dp-xml .cdata {
	COLOR: #ff1493
}
PRE .dp-xml .tag {
	COLOR: #069; FONT-WEIGHT: bold
}
PRE .dp-xml .tag-name {
	COLOR: #069; FONT-WEIGHT: bold
}
PRE .dp-xml .attribute {
	COLOR: red
}
PRE .dp-xml .attribute-value {
	COLOR: blue
}
PRE .dp-sql .func {
	COLOR: #ff1493
}
PRE .dp-sql .op {
	COLOR: #808080
}
PRE .dp-rb .symbol {
	COLOR: #a70
}
PRE .dp-rb .variable {
	COLOR: #a70; FONT-WEIGHT: bold
}
PRE .dp-py .builtins {
	COLOR: #ff1493
}
PRE .dp-py .magicmethods {
	COLOR: #808080
}
PRE .dp-py .exceptions {
	COLOR: brown
}
PRE .dp-py .types {
	FONT-STYLE: italic; COLOR: brown
}
PRE .dp-py .commonlibs {
	FONT-STYLE: italic; COLOR: #8a2be2
}
PRE .dp-j .annotation {
	COLOR: #646464
}
PRE .dp-j .number {
	COLOR: #c00000
}
PRE .dp-delphi .number {
	COLOR: blue
}
PRE .dp-delphi .directive {
	COLOR: #008284
}
PRE .dp-delphi .vars {
	COLOR: #000
}
PRE .dp-css .value {
	COLOR: black
}
PRE .dp-css .important {
	COLOR: red
}
PRE .dp-c .vars {
	COLOR: #d00
}
PRE .dp-cpp .datatypes {
	COLOR: #2e8b57; FONT-WEIGHT: bold
}
#container #left .container {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 26px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 6px
}
#container #left .container LI {
	LINE-HEIGHT: 24px; BACKGROUND: none transparent scroll repeat 0% 0%
}
#container #left .container A {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
#container #left .container A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container UL {
	LINE-HEIGHT: 30px
}
#container #left .container OL {
	LINE-HEIGHT: 30px; PADDING-LEFT: 20px; COLOR: #000
}
#container #left .container OL LI {
	BACKGROUND-IMAGE: url(../AppData/Roaming/Adobe/Dreamweaver%20CS4/zh_CN/Configuration/images/dt1.gif); PADDING-LEFT: 14px; BACKGROUND-REPEAT: no-repeat; COLOR: #000
}
#container #left .container UL P {
	TEXT-INDENT: 28px; MARGIN: 10px 0px
}
